# Ignore the build directory
build/

# Ignore the bin directory
bin/

# Ignore the lib directory
lib/

# Ignore the .vscode directory
.vscode/

# Ignore the .cache directory
.cache/

# Ignore log files
*.log
